.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 56px;
  padding: 16px 32px;
  color: #fff;
  background: #6c1bdb;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  &:hover {
    background: #912ef2;
  }
  &:disabled {
    background: rgba(49, 48, 55, 0.1);
    border-radius: 2px;
    color: rgba(49, 48, 55, 0.5);
  }
}
.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 56px;
  padding: 16px 32px;
  font-size: 1rem;
  color: #313037;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: rgba(49, 48, 55, 0.1);
  border-radius: 4px;
  &:hover {
    background: rgba(49, 48, 55, 0.3);
  }
  &:disabled {
    background: rgba(49, 48, 55, 0.1);
    color: rgba(49, 48, 55, 0.5);
    border-radius: 2px;
  }
}

.ButtonIcon {
  width: 88px;
  height: 56px;
  background: rgba(49, 48, 55, 0.1);
  border-radius: 4px;
  border: none;
  &:hover {
    background: #912ef2;
  }
  &:disabled {
    background: rgba(49, 48, 55, 0.1) !important;
    border-radius: 2px;
    color: rgba(49, 48, 55, 0.5) !important;
  }
}
.button_Dark.secondary {
  background: rgba(255, 255, 255, 0.1) !important;
  &:hover {
    background: linear-gradient(
      133.87deg,
      rgba(77, 10, 199, 0.6) -10.18%,
      rgba(145, 46, 242, 0.6) 108.59%
    ) !important;
    color: #fff !important;
  }
}
