.Blog {
  padding-top: 72px;
  &_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 1125px;
    margin: 0 auto;
    &_titleWrap {
      margin-bottom: 40px;
      margin-right: auto;
      &_Dark {
        background-color: #313037;
      }
    }
    &_tabWrap {
      margin-bottom: 64px;
      margin-right: auto;
      display: flex;
      border-bottom: 1px solid rgba(49, 48, 55, 0.1);
    }
    &_Dark {
      background-color: #313037;
    }
    &_CardsListWrap {
      margin-bottom: 42px;
    }
  }
  &_Dark {
    background-color: #313037;
  }
}
.filterMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  &_buttonWrap {
    display: flex;
    &_buttons {
      margin-right: 16px;
    }
  }
  &_Dark {
    background-color: #313037;
  }
}

.pagesContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 24px;
  margin: auto;
  &_Dark {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 24px;
    background-color: #313037;
  }
}
.pagesContainer1 {
  display: none;
}
.pageNumber {
  display: block !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #313037 !important;
  width: 50px !important;
  height: 50px !important;
  &:hover {
    color: blue !important;
  }
}
.pageNumber_Dark {
  display: block !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  width: 50px !important;
  height: 50px !important;
  &:hover {
    color: blue !important;
  }
}
.activePageNumber {
  color: green !important;
}

.Blog_container_Paginate {
  padding-bottom: 60px;
  padding-top: 30px;
}
.lottie__container {
  &_animation {
    width: 100%;
    height: 100vh;
  }
}
