.Blog {
  padding-top: 72px;
  &_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 1125px;
    margin: 0 auto;
    &_titleWrap {
      margin-bottom: 40px;
      margin-right: auto;
      &_Dark {
        background-color: #313037;
      }
    }
    &_tabWrap {
      margin-bottom: 64px;
      margin-right: auto;
      display: flex;
      border-bottom: 1px solid rgba(49, 48, 55, 0.1);
      flex-wrap: wrap;
    }
    &_Dark {
      background-color: #313037;
    }
    &_CardsListWrap {
      margin-bottom: 42px;
    }
  }
  &_Dark {
    background-color: #313037;
  }
}
.filterMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
  &_buttonWrap {
    display: flex;
    &_buttons {
      margin-right: 16px;
    }
  }
  &_Dark {
    background-color: #313037;
  }
}

.pagesContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 24px;
  margin: auto;
  &_Dark {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 24px;
    background-color: #313037;
  }
}
.pagesContainer1 {
  display: none;
}
.pageNumber {
  display: block !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #313037 !important;
  width: 50px !important;
  height: 50px !important;
  &:hover {
    color: blue !important;
  }
}
.pageNumber_Dark {
  display: block !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  width: 50px !important;
  height: 50px !important;
  &:hover {
    color: blue !important;
  }
}
.activePageNumber {
  color: green !important;
}

.Blog_container_Paginate {
  padding-bottom: 60px;
  padding-top: 30px;
}
.lottie__container {
  &_animation {
    width: 100%;
    height: 100vh;
  }
}
.Blog_container_tabWrap_Dark {
  border-bottom: 1px solid #dadada;
}

@media (max-width: 1300px) {
  .Blog_container {
    width: 90%;
  }
  html {
    font-size: 15px;
  }
  .filterMenu_selectWrap {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 520px) {
  .Blog {
    width: 100%;
    padding-top: 20px;
    &_container {
      width: 95%;
      &_titleWrap {
        width: 70%;
        margin: auto;
        text-align: center;
      }
      &_tabWrap {
        width: 90%;
        margin: auto;
        margin-top: 50px;
      }
      &_Paginate {
        width: 95%;
        margin: auto;
      }
    }
  }
  .filterMenu {
    margin-top: 50px;
    flex-wrap: wrap;
    &_buttonWrap {
      margin: auto;
      width: 70%;
    }
    &_selectWrap {
      margin: auto;
      margin-top: 20px;
      padding: 0;
    }
  }
}
@media (max-width: 425px) {
  .Blog_container_Paginate {
    display: none;
  }
}
@media (max-width: 375px) {
  .Blog_container_Paginate {
    display: none;
  }
  .filterMenu_buttonWrap {
    margin: auto;
    width: 60%;
  }
}
@media (max-width: 320px) {
  .Blog {
    &_container {
      &_titleWrap {
        width: 50%;
      }
      &_Paginate {
        display: none;
      }
    }
  }
  .filterMenu_buttonWrap {
    margin: auto;
    width: 55%;
  }
}
