.listWrapper {
  display: flex;
  flex-wrap: wrap;

  margin: auto !important;
  margin-bottom: 75px;
}

@media (max-width: 1400px) {
  .listWrapper {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .listWrapper {
    width: 95%;
  }
}
