.title_Wrap {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #313037;
  margin: 0;
}
.title_WrapDark {
  color: #fff;
}

@media (max-width: 768px) {
  .title_Wrap {
    font-size: 30px;
  }
  h1 {
    margin-top: 21px;
  }
}
@media (max-width: 425px) {
  .title_Wrap {
    font-size: 24px;
  }
  h1 {
    margin-top: 19px;
  }
}
@media (max-width: 375px) {
  .title_Wrap {
    font-size: 22px;
  }
  h1 {
    margin-top: 13px;
  }
}
