.title_Wrap {
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #313037;
  margin: 0;
}
.title_WrapDark {
  color: #fff;
}
@media (max-width: 1100px) {
  .title_Wrap {
    font-size: 27px;
  }
  h1 {
    margin-top: 18px;
  }
}
@media (max-width: 992px) {
  .title_Wrap {
    font-size: 26px;
  }
  h1 {
    margin-top: 18px;
  }
}
@media (max-width: 769px) {
  .title_Wrap {
    font-size: 25px;
  }
  h1 {
    margin-top: 16px;
  }
}
@media (max-width: 375px) {
  .title_Wrap {
    font-size: 22px;
  }
  h1 {
    margin-top: 13px;
  }
}
