.required::before {
  content: "*";
  color: red;
}
.label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #313037;
  &_Dark {
    color: #fff;
  }
}
@media (max-width: 768px) {
  .label {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .label {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .label {
    font-size: 13px;
  }
}
