.header {
  position: relative;
  width: 100%;
  height: 96px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  &_logo {
    margin: 20px 32px;
    cursor: pointer;
    &:hover {
      border-radius: 16px;
      transform: scale(1.05);
      transition: 0.2s;
    }
  }
  &_inputWrap {
    height: 96px;
    width: 100%;
    display: flex;
  }
  &_input {
    margin: 0 !important;
    height: 100% !important;
    width: 95.1% !important;
    background: transparent !important;
    color: black !important;
    border: none !important;
    &::-webkit-input-placeholder {
      color: rgba(49, 48, 55, 0.5) !important;
    }
    &_Dark {
      &::-webkit-input-placeholder {
        color: #aeaeae !important;
      }
      color: white !important;
    }
  }
  &_searchAUser {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &_icon {
      svg > path {
        fill: black;
      }
    }
    &_open {
      background: rgba(49, 48, 55, 0.1);
    }
    &_openDark {
      background: transparent;
    }
  }
  &_Dark {
    background: rgba(255, 255, 255, 0.1);
  }
}
.searchIcon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 84px;
  svg > path {
    stroke: black;
  }
  &_Dark {
    svg > path {
      stroke: white;
    }
  }
}
.cancelIcon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 84px;
  &_Dark {
    svg > path {
      fill: white;
    }
  }
}
.userWrap {
  cursor: pointer;
}

@media (max-width: 549px) {
  .header {
    position: relative;
    flex-direction: column;
    height: 100%;
    &_logo {
      margin: 18px 0px 10px 24px;
      width: 150px;
      margin-right: auto;
    }
    &_searchAUser {
      margin: 0px 0px 10px 5px;
      width: 150px;
      margin-right: auto;
    }
  }
  .searchIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .cancelIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .searchIcon_open {
    position: absolute;
    top: 210px;
    right: 10px;
    height: 60px;
    &_Dark {
      svg > path {
        stroke: white;
      }
    }
  }
}
@media (max-width: 425px) {
  .header {
    position: relative;
    flex-direction: column;
    height: 100%;
    &_logo {
      margin: 18px 0px 10px 24px;
      width: 150px;
      margin-right: auto;
    }
    &_searchAUser {
      margin: 0px 0px 10px 5px;
      width: 150px;
      margin-right: auto;
    }
  }
  .searchIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .cancelIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .searchIcon_open {
    position: absolute;
    top: 210px;
    right: 10px;
    height: 60px;
    &_Dark {
      svg > path {
        stroke: white;
      }
    }
  }
}
@media (max-width: 375px) {
  .header {
    position: relative;
    flex-direction: column;
    height: 100%;
    &_logo {
      margin: 18px 0px 10px 24px;
      width: 150px;
      margin-right: auto;
    }
    &_searchAUser {
      margin: 0px 0px 10px 5px;
      width: 150px;
      margin-right: auto;
    }
  }
  .searchIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .cancelIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .searchIcon_open {
    position: absolute;
    top: 210px;
    right: 10px;
    height: 60px;
    &_Dark {
      svg > path {
        stroke: white;
      }
    }
  }
}
@media (max-width: 320px) {
  .header {
    position: relative;
    flex-direction: column;
    height: 100%;
    &_logo {
      margin: 18px 0px 10px 24px;
      width: 150px;
      margin-right: auto;
    }
    &_searchAUser {
      margin: 0px 0px 10px 5px;
      width: 150px;
      margin-right: auto;
    }
  }
  .searchIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .cancelIcon {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 60px;
  }
  .searchIcon_open {
    position: absolute;
    top: 210px;
    right: 10px;
    height: 60px;
    &_Dark {
      svg > path {
        stroke: white;
      }
    }
  }
}
