.footer {
  width: 100%;
  &_Dark {
    background-color: #313037;
  }
}
.footerWrap {
  display: flex;
  justify-content: space-between;
  width: 1122px;
  margin: 0 auto;
  padding: 34px 0;
  border-top: 1px solid rgba(49, 48, 55, 0.1);
  &_Dark {
    background-color: #313037;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &_Watermark {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8d8e97;
  }
  &_switchWrap {
    display: flex;
    align-items: center;
  }
}
.switchLabel {
  font-weight: 400;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(49, 48, 55, 0.5);
  margin-right: 20px;
  &_Dark {
    color: #fff;
  }
}
@media (max-width: 1300px) {
  .footerWrap {
    width: 90%;
  }
  .footerWrap_Watermark {
    font-size: 15px;
  }
  .switchLabel {
    font-size: 15px;
    color: rgba(49, 48, 55, 0.5);
  }
  .switch {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .footerWrap {
    padding: 20px;
  }
  .switchLabel {
    align-items: center;
  }
  .switch {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .footerWrap {
    padding: 15px;
  }
}
@media (max-width: 375px) {
  .footerWrap {
    &_Watermark {
      display: none;
    }
    &_switchWrap {
      display: flex;
      justify-content: space-between;
      width: 100% !important;
    }
  }
  .switchLabel {
    font-size: 14px !important;
  }
  .switch {
    font-size: 14px;
  }
  .userWrap {
    height: 100%;
  }
}
