.footer {
  width: 100%;
  &_Dark {
    background-color: #313037;
  }
}
.footerWrap {
  display: flex;
  justify-content: space-between;
  width: 1122px;
  margin: 0 auto;
  padding: 34px 0;
  border-top: 1px solid rgba(49, 48, 55, 0.1);
  &_Dark {
    background-color: #313037;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  &_Watermark {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8d8e97;
  }
  &_switchWrap {
    display: flex;
  }
}
.switchLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(49, 48, 55, 0.5);
  margin-right: 20px;
  &_Dark {
    color: #fff;
  }
}
