.emptyStateWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 80vh;
  &_Dark {
    background-color: #313037;
  }
  &_containerImg {
    background: linear-gradient(
      90deg,
      rgba(145, 46, 242, 1) 0%,
      rgba(255, 222, 0, 0.7570378493194152) 48%,
      rgba(78, 9, 121, 1) 100%
    );

    padding: 30px;
    border-radius: 50%;
    Img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }
  &_containerText {
    text-align: center;
    margin-top: 35px;
  }
  &_Dark {
    background-color: #313037;
    color: white;
  }
}
.nothingFound {
  font-weight: bold;
  font-size: 28px;
}
.tryToAdjusting {
  margin: 5px 0;
  font-size: 20px;
}

.goHome {
  font-size: 20px;
  text-decoration: none;
  color: black;
  &:hover {
    color: blue;
    cursor: pointer;
  }
  &_Dark {
    background-color: #313037;
    color: white;
  }
}
@media (max-width: 768px) {
  .nothingFound {
    font-size: 26px;
  }
  .tryToAdjusting {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  .emptyStateWrap {
    width: 90%;
    margin-bottom: 0;
    height: 75vh;
    margin: auto;
    &_containerImg {
      border-radius: 50%;
      img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
      }
    }
  }
  .nothingFound {
    font-size: 25px;
  }
  .tryToAdjusting {
    font-size: 25px;
  }
}
@media (max-width: 375px) {
  .emptyStateWrap {
    margin-bottom: 0;
    height: 75vh;
    width: 90%;
    margin: auto;
    &_containerImg {
      border-radius: 50%;
      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
    }
  }
  .nothingFound {
    font-size: 24px;
  }
  .tryToAdjusting {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .emptyStateWrap {
    width: 90%;
    margin: auto;
    margin-bottom: 0;
    height: 75vh;
    &_containerImg {
      border-radius: 50%;
      img {
        width: 230px;
        height: 220px;
        border-radius: 50%;
      }
    }
  }
  .nothingFound {
    font-size: 20px;
  }
  .tryToAdjusting {
    font-size: 20px;
  }
}
