* {
  box-sizing: border-box;
}

.signUp {
  position: relative;
  background-color: #fff;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 1120px;
    margin: 0 auto;
    &__dark {
      background-color: #313037;
    }
  }
  &__Dark {
    background-color: #313037;
  }
}

.titleWrap {
  margin-top: 72px;
  margin-right: auto;

  &__signUpText {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: #313037;
  }
  &__backToHomeText {
    text-decoration: none;
    color: black;
  }
  &__backToHomeTextDark {
    color: #fff;
  }
}

.formContainer {
  box-shadow: 0px 12px 40px 9px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 152px;
  padding: 40px;
  width: 624px;
  display: flex;
  flex-direction: column;
  // gap: 40px;
  border-radius: 16px;
  &__inputContainer {
    display: flex;
    flex-direction: column;
    // gap: 8px;
    margin-top: 25px;
    &__nameInput {
      width: 100%;
      border-radius: 4px;
      margin-top: 15px;
      &__Dark {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
      }
    }
    &__emailInput {
      width: 100%;
      border-radius: 4px;
      margin-top: 15px;
      &__Dark {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
      }
    }
    &__passwordInput {
      width: 100%;
      border-radius: 4px;
      margin-top: 15px;
      &__Dark {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
      }
    }
    &__confirmPasswordInput {
      width: 100%;
      border-radius: 4px;
      margin-top: 15px;
      &__Dark {
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
      }
    }
    &__forgotPass {
      margin-top: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      &__Dark {
        color: #fff;
      }
    }
  }
  &__Dark {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
  }
}
.label {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #313037;
  &__Dark {
    color: #fff;
  }
}
.buttonAndText {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__signUpButton {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 24px;
  }
  &__formFooterText {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8d8e97;
    &__Dark {
      color: #fff;
    }
    &__SignUp {
      text-decoration: none;
      color: #2231aa;
      &__Dark {
        text-decoration: none;
        color: #5360cd;
      }
    }
  }
}
.error__Dark {
  color: #fff;
}

@media (max-width: 1300px) {
  .signUp {
    width: 100%;
    &__container {
      width: 90%;
    }
  }
  .buttonAndText__signUpButton {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .label {
    font-size: 16px;
  }
  .formContainer {
    margin-top: 60px;
    width: 90%;
    height: 720px;
    padding: 30px;
    &__inputContainer {
      margin-top: 25px;
      &:first-child {
        margin-top: 0px;
      }
      &__namelInput {
        height: 55px;
        margin-top: 10px;
      }
      &__emailInput {
        height: 55px;
        margin-top: 10px;
      }
      &__passwordInput {
        height: 55px;
        margin-top: 10px;
      }
      &__confirmPasswordInput {
        height: 55px;
        margin-top: 10px;
      }
    }
  }
  .buttonAndText {
    margin-top: 35px;
    &__signUpButton {
      margin-bottom: 10px;
      height: 50px !important;
    }
    &__formFooterText {
      font-size: 15px;
    }
  }
}
@media (max-width: 540px) {
  .label {
    font-size: 13px;
  }
  .formContainer {
    margin-top: 45px;
    width: 95%;
    height: 640px;
    &__inputContainer {
      &:first-child {
        margin-top: 0px;
      }
      &__namelInput {
        height: 50px;
        margin-top: 10px;
        font-size: 16px;
      }
      &__emailInput {
        height: 50px;
        margin-top: 10px;
        font-size: 16px;
      }
      &__passwordInput {
        height: 50px;
        margin-top: 10px;
        font-size: 16px;
      }
      &__confirmPasswordInput {
        height: 50px;
        margin-top: 10px;
        font-size: 16px;
      }
    }
  }
  .buttonAndText {
    margin-top: 40px;
    &__signUpButton {
      margin-top: 0px;
    }
    &__formFooterText {
      font-size: 13px;
    }
  }
}
@media (max-width: 425px) {
  .formContainer {
    margin-top: 45px;
    height: 590px;
    padding: 20px 25px;
    &__inputContainer {
      margin-top: 20px;
      &:first-child {
        margin-top: 0px;
      }
      &__forgotPass {
        margin-top: 5px;
        font-size: 13px;
      }

      &__nameInput {
        height: 40px;
        margin-top: 10px;
        font-size: 14px;
      }
      &__emailInput {
        height: 40px;
        margin-top: 10px;
        font-size: 14px;
      }
      &__passwordInput {
        height: 40px;
        margin-top: 10px;
        font-size: 14px;
      }
      &__confirmPasswordInput {
        height: 40px;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
  .buttonAndText {
    margin-top: 30px;
    &__signUpButton {
      margin-top: 0px;
    }
  }
}
@media (max-width: 375px) {
  .formContainer {
    margin-top: 35px;
    height: 540px;
    &__inputContainer {
      margin-top: 20px;
      &:first-child {
        margin-top: 0px;
      }
      &__forgotPass {
        margin: 0;
        font-size: 13px;
      }
      &__nameInput {
        height: 35px;
        margin-top: 10px;
        font-size: 14px;
      }
      &__emailInput {
        height: 35px;
        margin-top: 10px;
        font-size: 14px;
      }
      &__passwordInput {
        height: 35px;
        margin-top: 10px;
        font-size: 14px;
      }
      &__confirmPasswordInput {
        height: 35px;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
  .buttonAndText {
    margin-top: 30px;
    &__signUpButton {
      margin-bottom: 13px;
      height: 38px !important;
    }
    &__formFooterText {
      font-size: 13px;
    }
  }
}
@media (max-width: 320px) {
  .label {
    font-size: 13px;
  }
  .formContainer {
    width: 270px;
    height: 500px;
    padding: 10px 20px;
    &__inputContainer {
      margin-top: 20px;
      &:first-child {
        margin-top: 0px;
      }
      &__forgotPass {
        margin: 0;
        font-size: 12px;
      }
      &__nameInput {
        height: 35px;
        margin-top: 5px;
        font-size: 13px;
      }
      &__emailInput {
        height: 35px;
        margin-top: 5px;
        font-size: 13px;
      }
      &__passwordInput {
        height: 35px;
        margin-top: 5px;
        font-size: 13px;
      }
      &__confirmPasswordInput {
        height: 35px;
        margin-top: 5px;
        font-size: 13px;
      }
    }
  }
  .buttonAndText {
    margin-top: 25px;
    &__signUpButton {
      height: 38px !important;
      margin-bottom: 13px;
    }
    &__formFooterText {
      font-size: 12px;
    }
  }
}
